.car {
  width: 45%;
  padding: 20px;
}

.car_name {
  margin-top: 0;
  text-align: center;
}

.car_img {
  width: 100%;
}

.car_img img {
  width: 100%;
}

.car_content {
  padding: 20px;
  box-shadow: 0px -6px 76px rgb(59 82 85 / 20%);
  position: relative;
}

.car_name {
  color: #1c3d4a;
}

.car_desc h4 {
  margin-bottom: 10px;
}

.car_desc p {
  line-height: 1.5;
  margin-top: 0;
}
.car_button {
  color: #ffffff;
  background-color: #1c3d4a;
  border-radius: 0;
  text-align: center;
  border: 1px solid #152e38;
  padding: 6px 12px;
}

/* @media (max-width: 800px) {
} */

@media (max-width: 900px) {
  .car {
    width: 75%;
  }
  .car_name {
    font-size: 30px;
  }

  .car_desc {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .car {
    width: 100%;
  }
}
